/*tab*/
		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			position: relative;
			background: none;
			color: #333;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
		}

		.tab-content{
			display: none;
			background: #ec5744;
			padding: 35px 15px 35px 15px;
		}
.tab-link.current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 24%;
    border-width: 0 11px 15px;
    border-style: solid;
    border-color: #ec5744 transparent;
    display: block;
    width: 0;
}

.tab-name{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;}
.tab-content.current{
display: inherit;
}

.tabclose{display: inline-block; position: absolute; top:20px;right:10px;cursor: pointer;}
