/*tab*/
		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			position: relative;
			background: none;
			color: #333;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
		}

		.tab-content{
			display: none;
			background: #ec5744;
			padding: 35px 15px 35px 15px;
		}
.tab-link.current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 24%;
    border-width: 0 11px 15px;
    border-style: solid;
    border-color: #ec5744 transparent;
    display: block;
    width: 0;
}

.tab-name{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;}
.tab-content.current{
display: inherit;
}

.tabclose{display: inline-block; position: absolute; top:20px;right:10px;cursor: pointer;}

/*portfolio*/
.portfolio {
    margin: 1rem 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.portfolio-item {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
	margin-bottom: 1rem;

}
.portfolio-item:hover {

}

.scale-anm {
  transform: scale(1);
}

.portfolio-item img {
    max-width: 100%;
    width: 100%;
    height: auto;

}

.fil-btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.fil-btn:hover {
  text-decoration: none;
}

.fil-btn.active {
background: #333;
color:#fff;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.portclose {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: 21px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*modal*/
modal{position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1050;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    transition: opacity .15s linear;
    display: none;
    padding: 0px 15px;
  }
  modal.open{display: block;}

  modal.open .modal-Dialog{  transform:translateY(0%);transition: transform .3s ease-in;}

.modal-Dialog{max-width: 480px;    border: 1px solid #ccc;
    border-radius: 6px;    -webkit-box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.22);
        box-shadow: -1px 3px 23px 0px rgba(0,0,0,0.22);background: #fff;    margin:15px auto;
      transform:translateY(-100%);
      }
.modal-Body,.modal-Footer,.modal-Head{padding: 15px;}
.modal-Body > p,.modal-Head > h1,h2,h3,h4,h5,h6{ margin: 0;}
.modal-Footer{border-top: 1px solid #ddd;}
.modal-Head{border-bottom: 1px solid #ddd;}
.modal-close{font-size: 20px; font-weight: 700;float: right;opacity: 0.2;    padding: 0; border: 0; background:transparent;text-shadow: 0 1px 0 #fff;    -webkit-appearance: none;}
.modal-close:hover{opacity: 1;}
